name: CI DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  lint:
    name: Lint (Flake8)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          pip install flake8
          flake8 app tests

  tests:
    name: Unit Tests (pytest)
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          pip install -r requirements.txt pytest
          pytest -v

  docker:
    name: Docker Build & Push
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            scedric/flask-mongo-devsecops:latest
            scedric/flask-mongo-devsecops:${{ github.sha }}
